<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
  <title>Send & Pay 🎁</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
</head>
<body>
  <section class="hero ">
    <div class="overlay"></div>
    <div class="glass-card">
    
      <form id="mpesa-form" action="{{ url_for('process_payment') }}" method="POST" class="premium-form">
        <h2 style="margin-bottom: 5px;">Make It Rain Happiness! 💸🌈</h2>
        <label>Gift Amount</label>
        <input type="number" name="amount" min="1" placeholder="KES 500" required/>
        <label>Phone Number</label>
        <input type="tel" name="phone" value="{{ session['phone'] }}" required/>
        <button type="submit" class="payment-button">
          <!-- <span class="spinner"></span> -->
          Send Gift via M-Pesa 🚀
      </button>      </form>
    </div>
 
  </section>
  <div id="confetti"></div>
  <script src="{{ url_for('static', filename='js/confetti.js') }}"></script>
  <script src="{{ url_for('static', filename='js/summary.js') }}"></script>
</body>
</html> 


