{% extends "layout.html" %}

{% block title %}💰 Contribute{% endblock %}

{% block content %}
  <form id="mpesa-form" action="{{ url_for('user.contribute') }}" method="POST" class="premium-form">
    {{ form.hidden_tag() }}
    <h2 style="margin-bottom: 10px;">Make It Rain Happiness! 💸🌈</h2>
   
    <div class="mb-2">
      <label for="{{ form.amount.id }}">{{ form.amount.label }}</label>
      {{ form.amount(class='input') }}
      {% if form.amount.errors %}
        <div style="font-size: x-small; color: red; margin-bottom: 5px;">
          {% for err in form.amount.errors %}
            <p>{{ err }}</p>
          {% endfor %}
        </div>
      {% endif %}
    </div>

    <div class="mb-2">
      <label for="{{ form.phone.id }}">{{ form.phone.label }}</label>
      {{ form.phone(class='input') }}
      {% if session['phone'] %}
        <p style="font-size: x-small; color: #555;">
          Using your phone <strong>{{ user.phone }}</strong> by default, but you can change it.
        </p>
      {% endif %}
      {% if form.phone.errors %}
        <div style="font-size: x-small; color: red; margin-bottom: 5px;">
          {% for err in form.phone.errors %}
            <p>{{ err }}</p>
          {% endfor %}
        </div>
      {% endif %}
    </div>
    
    {{ form.submit(class_='button') }}
  </form>
{% endblock %}

