{% extends "layout.html" %}

{% block title %}Thank You! 🎉{% endblock %}

{% block content %}
  <h2 class="hero-title">Thank You! 🎉</h2>
  <p style="font-family: monospace;  font-weight:bolder;">Your gift of <strong>KES {{ amount }}</strong> has been received. Can’t wait to celebrate!</p>
  <div class="success-actions">
    <a href="/" style="list-style-type: none;font-size: medium; font-family: monospace;" class="button ">Return Home</a>
  </div>
{% endblock %}

{% block extra_scripts %}
  {{ super() }}
  <script>
    // once confetti.js is loaded by base.html, trigger it
    startConfetti();
  </script>
{% endblock %}